dist: trusty
language: python
python:
- '2.7'
- '3.3'
- '3.4'
- '3.5'
- '3.6'
install: pip install -r requirements_dev.txt
script: py.test
jobs:
  include:
    - stage: release
      language: python
      python:
        - '3.6'
      env:
        - TRAVIS=true
        - DEBUG=*
        - secure: 0hJamfticHGYltMW2FfGpCb/4lmCmosiJ5gXuQnrDRS0Oa/45SqT+IA+F9PPZ+yJlXUob+5Ym2mXlPQ41P7p8fFiMVEK2RQITYL6vTq3bXhxH1nKu/nlxlElCjrAmKFSWnOp3+F6Q7QA08bdK/qkWOKg0ief7c39aNvgFtfl7J8xy7UU8nrJiqgUNkpEdrzcwAtHpw2i3KdQkjnomvJFgly9seUZ64yDoaIWfBvoQu/nHB1jXjgIsiUkwSZbo2oK069dwZOL1B3/lQHcdEcjIeI8YrEbmxCYF3E5rW1z1xOg7bIGpKCBwcZcpP/AHKYvjzdBNz/gMo8evWqZ8Vy0wMnBZ1yqzlsAcZBmB1cHkmixZOmRAA7QcPR1rkY1QuNUhU5YPJjVG1ZpL3uW/ACt3kepl2BOGWZCVfPsKLESw67ynLtEdrPrKIPxQsrGSIDTSr6UasSK/KKNqa2pYaymlRiztWeCj27duYXj3S75AXhI9pWEfVJHRxtqtsPucKlB87WuQIdBDikI9UsLwFXrdUEhdgtSwj98wAa3McThy6/BBEXIiQvDuUb9G4k4HiOcVO6zVNkKGwpBdukYvtrjACfhHvhyKl6tPRSOPlo5+I/O49xL2/ZIxkA9W00xvYCVmc/XGfKEfMQrMi6rnGKIlOI+RVh6oBubayrPLqqsXl4=
        - secure: l2JP8CAW86uN3RcGLIg4DW18RYMZaXDysKne3NDw7QYNwZetUXn7F1Wkdb8kSR0vYLtmDeGjnjGt/uEOLgM2dfhCcNu3FM6rFD15CAE2c1+IKajv5r5xb8yNNOufGM/JHiPe0hB8nifl44FKCk8f/6MFUaTxqLx2Bj0VJwpl71sahWEXNvlqTZ4f9oIekun1YUdKV7CbkKqKzyHNklEVpjHrSapQg3d1W5Z8GR9cIUSDvLxaqGXyRoBnYZTgQ5Zb4cyqgOZeYEu9iaELK+2LQo3wACQINHWzCuZ0Q0G2+dynLSV5VB585vkZTKLTzasMR0Jtxng36X/MwLmSB+GwnN5XdRdzcV4/1lrvG0QA0BIM3QDNDs9484R0G+uXxBPdIsv18riR03D0f5r71IZBWU5hLvshRdkmcdmnGgwJP9TqHOmZlN1h+XgVEJhKBJiAJNJny5lhR2wYqATQQ8cN4h8dV3DL4YtYFKiZUM7D6sjT39sg/ZY8/2aa+C4gKBgmTw3RvifnI5o9Vei0pPR/BVqejuaO1XznawVg93CltREtM0Z/Op7gkwLgMBwqhoTtJDKQ9K6lTGC8vNjiac2D4ohSTTtbMCSZLLW0Rcf4vuNlpHcrHdcVdHt3ZF2x/rPfVMH+NGN8p72QL2VzBrxGcIGP9ZO8vE424sbO+PWlO+g=
        - secure: DxzR9NM0j7jJ5iZEwkhc+rgEe9ZCYPcJgwCmnftCA6DOS5Da9TE9bE13co5vAPJg64pJmON4peYakhur3FJMpMomAfcFoP8/y2oIv/6ZowkybEDi7Dwdyalp2e8j4IJ83gPFTkAlTaWUtr53zYWtM6/SySkl7rRlPhdPIpGayme7g94S74P7Lu2cf/s8eNv8eEL3mrQ0C4gWo6Ie2M1EjO8gOug4PXot0LeHJe+Ong29DVahG/4CvAuWkgpAkmgOrUfKUhxyUfMfDJit0mEZ7oLUZlMNOWPAhf0wSap/cltLz7r+mbnLcJ8kktwX8tDqF1tTrReo/w7wPT4pBa7bHGpG57Ku+r5Lq9I2VndHLmafrp1qpysoPtE44g6NWQTsSjo+MvdURNHDM2ASA5PWGG5VwXBWGRijJUwUB3XYdrxIcFvuBJRXpLPMiN0mATZEBLBPXujAShW9l29t5Uf+thLSmosyH2UPrt2+9rT7Kgr8p9wSWkvY72IKtg4fTvyYG3y5wdybxsZFujqmqHoGH4IzMLuYnhhu/n6OIPrm79Y1zS/lV+ubNUnMMWyHkOmyBXHi9r0/STP5+D6wb50bVEg11iJ4RRApvh7TE78IuqN8v5boMwpbzY4y1IEx/oFw3nn9U3gHoQsDawCZ4mU3vq0SvNNUw3ljJUfHjgByybM=
      install: skip
      script:
      - echo $GH_TOKEN, $PYPI_USERNAME, $PYPI_PASSWORD
      - export BRANCH=$(if [ "$TRAVIS_PULL_REQUEST" == "false" ]; then echo $TRAVIS_BRANCH; else echo $TRAVIS_PULL_REQUEST_BRANCH; fi)
      - git config --global user.name "semantic-release (via TravisCI)"
      - git config --global user.email "semantic-release@travis"
      - if [ "$BRANCH" == "master" ]; then pip install python-semantic-release; fi
      - if [ "$BRANCH" == "master" ]; then semantic-release publish; fi

